@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Poppins:ital,wght@0,100;...&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Libertinus Mono', monospace;
}


.container {
    border: 5px solid violet;
   
}
.flex-item {
    color: white;
    font-size: 16px;
    padding: 16px;
    text-align: center;
    
    
}
.box-1 {
    background-color: #003049;
}
.box-2 {
    background-color: #d62828;
}
.box-3 {
    background-color: #f77f00;
}

.box-4 {
    background-color: #fcbf49;
}

.box-5 {
    background-color: #eae2b7;
}

.box-6 {
    background-color: #264653;
}

.box-7 {
    background-color: #2a9d8f;
}

.box-8 {
    background-color: #e9c46a;
}

.box-9 {
    background-color: #f4a261;
}

/* flexbox */

.container {
    /* display: flex; */
    /* display: inline-flex; */
    /* flex-direction:row-reverse; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap;  */
    /* height:400px; */
    /* flex-wrap:wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: row wrap;    = flex-direction + flex-wrap */
    /* flex-flow : column wrap */
    /* gap: 20px; */
     /* gap:20px 40px; */
     /* column-gap: 20px; */

     /* justify-content: flex-start; */
     /* justify-content: center; */
     /* justify-content: flex-end; */
     /* justify-content: space-evenly; */
     /* justify-content: space-around; */
     /* justify-content: space-between; */
    
     /* align-items: center; */
     /* align-items: stretch; */
     /* align-items: center; */
     /* align-items: flex-start; */
     /* align-items: baseline; for font in same line even box size differs */



}

.container{
    /* display: flex;
    flex-direction:column;
    height: 600px; */
    /* align-items: center; */
     /* align-items: stretch; */
     /* align-items: end; */
     /* align-items: flex-start; */
}


.container{
    /* display: flex;
    /* flex-direction:column; */
    /* flex-wrap: wrap;
    height: 600px;
    align-content: stretch;
    align-content: center;
    align-content: flex-start;
    align-content: flex-end;
    align-content: space-between;
    align-content: space-around; */ 
}


/* .container{
    display: flex;
    

} */

/* .box-1 { order :1 ;}
.box-2 { order :4; }
.box-3 { order :3; }
.box-4 { order :2; }
.box-5 { order :5; } */

/* .box-3 ,.box-1,.box-2,.box-5,.box-4 {flex-grow: 1;} */
/* .box-1 {flex-grow: 1;} */

/* .flex-item {
    /* flex-grow: 1; */
    /* flex-shrink:1; */
   /* flex-basis: auto;
}  
/* .box-3{
    flex-basis: 200px;
} */


/* .box-1 {
    /* flex : flex-grow flex-shrink flex-basis; */
    /* flex : 1 0 200px;  } */  

/* .container{
    display: flex;
    height: 600px;
    align-items: stretch;

    

}
.box-1{
    align-self: flex-start;
    align-self: flex-end;
    align-self: center;
} */